
<div class="container">
    <div class="row">

        <div class="col-md-12">

            <form id="code-generator">

                <h3>Генерировать код вставки для:</h3>

                <div class="radio">
                    <label>
                        <input class="toggle" type="radio" data-target="sub-block~forms-options" name="render_type" value="1">
                        Формы поиска
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input class="toggle" type="radio" data-target="sub-block~search-result-options" name="render_type" value="2">
                        Результатов поиска
                    </label>
                </div>

                <div class="toggle-area" style="display: none" id="sub-block">

                    <div class="toggle-area" style="display: none" id="forms-options">

                        <h3>Настройка формы поиска</h3>

                        <div class="checkbox">
                            <label>
                                <input class="toggle" data-taget="sub-block~forms-options~sanatorium-url" type="checkbox" name="tabs" value="placements">
                                Проживание
                            </label>
                            <div class="toggle-area" style="display: none" id="placements-url">
                                <label>Полный url-адрес для перехода на страницу поиска проживания</label>
                                <input type="text" name="placements_url" class="form-control">
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input class="toggle" data-taget="sub-block~forms-options~sanatorium-url" type="checkbox" name="tabs" value="sanatorium">
                                Санатории
                            </label>
                            <div class="toggle-area" style="display: none" id="sanatorium-url">
                                <label>Полный url-адрес для перехода на страницу поиска санаториев</label>
                                <input type="text" name="sanatorium_url" class="form-control">
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input class="toggle" data-taget="sub-block~forms-options~excursions-url" type="checkbox" name="tabs" value="excursions">
                                Экскурсионные туры
                            </label>
                            <div class="toggle-area" style="display: none" id="excursions-url">
                                <label>Полный url-адрес для перехода на страницу поиска экскурсионных туров</label>
                                <input type="text" name="excursions_url" class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="toggle-area" style="display: none" id="search-result-options">

                        <h3>Настройка результатов поиска по:</h3>

                        <div class="radio">
                            <label>
                                <input class="toggle" type="radio" data-target="sub-block~search-result-options~placements-number-per-page" name="result" value="placements">
                                проживаниям
                            </label>
                            <div class="toggle-area" style="display: none" id="placements-number-per-page">
                                <label>Количество на станицу</label>
                                <select class="form-control" name="placements_number_per_page">
                                    <option selected="" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>

                        <div class="radio">
                            <label>
                                <input class="toggle" type="radio" data-target="sub-block~search-result-options~sanatorium-number-per-page" name="result" value="sanatorium">
                                санаториям
                            </label>
                            <div class="toggle-area" style="display: none" id="sanatorium-number-per-page">
                                <label>Количество на станицу</label>
                                <select class="form-control" name="sanatorium_number_per_page">
                                    <option selected="" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>

                        <div class="radio">
                            <label>
                                <input class="toggle" type="radio" data-target="sub-block~search-result-options~excursions-number-per-page" name="result" value="excursions">
                                экскурсионным турам
                            </label>
                            <div class="toggle-area" style="display: none" id="excursions-number-per-page">
                                <label>Количество на станицу</label>
                                <select class="form-control" name="excursions_number_per_page">
                                    <option selected="" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div id="generator-block">
                        <button type="button" class="btn btn-primary" id="generator">Сгенерировать код для вставки</button>
                        <textarea class="form-control"></textarea>
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>

<script src="/travelsoft.pm/?method=GetScript&tpm_params[target]=code_generator"></script>
<script>
    Travelsoft.CodeGenerator({});
</script>
