
/* 
    Created on : 28.12.2017, 17:53:01
    Author     : dimabresky
*/
.form-group {
    padding: 10px 0 0 0 !important;
}
ul#iframe-values-list {
    padding: 10px;
    list-style: none;
}
ul#iframe-values-list li {
    margin: 10px 0 0 0 !important;
}
ul#iframe-values-list li:hover {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
