<!DOCTYPE html>
<html>
    <head>
        <title>Переадресация на сайт VETLIVA. RU</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="?method=GetStylesheet&tpm_params[target]=redirect">
    </head>
    <body>
        <div id="preloader">
            <div class="tb-cell">
                <div id="page-loading">
                    <div></div>
                </div>
            </div>
            <div class="target-text">
                <h3 class="sub-target-title">Переадресация на сайт VETLIVA. RU</h3>
                <br>
                <div class="sub-target-main-text">В течение нескольких секунд Вы будете перенаправлены на сайт партнера, где сможете забронировать выбранную услугу.</div>
                <br>
                <div class="sub-target-footer-text">Пожалуйста, подождите.</div>
            </div>
        </div>
        <script src="?method=GetScript&tpm_params[target]=redirect"></script>
    </body>
</html>
