
/* 
    Created on : 22.12.2017, 13:28:25
    Author     : dimabresky
*/

html, body {
    font-size: 16px;
    line-height: 1.5;
    height: 100%
}

.about-rate{padding-top: 10px}

.mrtb-10 {
    margin: 10px 0;
}

.name {
    font-weight: bold;
}

.main-img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stars-block {
    color: #ff8100;
}

.show-offers-block {
    position: relative;
    text-align: right;
    margin-top: 10px;
}

.show-offers {
    height: 35px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.offer-row {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.thumbnail {
    margin-bottom: 0 !important;
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

div[id^="map-"], .video-frame {
    height: 300px;
    margin-top: 20px;
}

.info-block {
    padding: 20px;
    font-size: 16px;
}

.details-links {
    text-align: left;
}

.detail-link {
    text-decoration: underline;
    margin-right: 10px;
    display: inline-block;
}

.price-from {
    display: inline-block;
}

.featured-service .service-accmd {
    width: 95%;
    margin-left: 4.8%;
    display: flex;
    flex-flow: row wrap;

}

.featured-service ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.list-service-section {
    display: table;
    margin-top: 10px;
}

.list-service-section h4 {
    float: left;
}

.featured-service .service-accmd li {
    width: 33.33333333%;
    float: left;
    color: #333;
    line-height: 0.9em;
    margin-top: 8px;
    padding-right: 10px;
}

.featured-service .service-accmd li div {
    float: left;
    height: 100%;
}

.detail-slider {
    position: relative;
    margin-top: 20px;
}

.rslides_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    top: 60%;
    left: 15px;
    opacity: .7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 45px;
    width: 31px;
    background: url(themes.gif) left top no-repeat;
    background-size: cover;
    margin-top: -45px;
}

.rslides_nav:active {
    opacity: 1.0;
}

.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 15px;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-service {
    margin-right: 10px;
    margin-top: 4px;
}

.panel-group {
    margin-top: 20px;
}

.panel-body {
    font-size: 14px;
}
.panel-title {
    font-size: 22px;
}

.callback-form {
    margin-top: 20px;
}

.not-found-text{
    font-weight: 500;
    margin-top: 20px;
    color: red;
}

.callback-form .star, .callback-form .error-container {
    color:red;
}

.callback-form .message-ok {
    font-weight: 600;
    color: green;
}

@media (max-width: 991px) {
    .show-offers {
        position: relative;
    }

    .flex-grow {
        display: block;
    }

}

@media (max-width: 768px) {
    .featured-service .service-accmd li {
        width: unset;
    }
}
